div.bookContainer{
  width: 100%;
  height: 100%;

  display: inline-flex;
  flex-direction: column;

  gap: 2vh;
  max-height: 80%;

  overflow: hidden;
  overflow-y: scroll;

  box-sizing: border-box;
  padding-left: calc(3vh + 1%);
  padding-right: 1%;
}


div.bookContainerLoading{
  overflow-y: hidden;
  padding-inline: calc(3vh + 1%);
}


div.errorContainer{
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  p.error{
    font-size: 5vh;
    text-align: center;
  }
}
