div.book{
  width: 100%;
  min-height: 8vh;

  display: inline-flex;
  align-items: center;
  justify-content: space-between;

  div.titleContainer{
    display: flex;
    align-items: center;

    overflow: hidden;

    width: calc(100% - 18vh);
    height: 100%;

    box-sizing: border-box;
    padding-inline: 2%;

    border: 2px $ghostWhite solid;
    border-radius: 5px;

    cursor: default;
    background-color: $charcoal;
    transition: border .2s;

    p.title{
      margin: 0;
      font-size: 4vh;
      white-space: nowrap;
    }
  }

  button.button{
    aspect-ratio: 1 / 1;
    height: 100%;

    background-color: $charcoal;
    background-repeat: no-repeat;

    border: 2px $ghostWhite solid;
    border-radius: 5px;

    cursor: pointer;
    background-size: 50%;

    background-position-x: center;
    background-position-y: center;

    transition: border, background-image .2s;
  }

  img.pencil, img.lens{
    width: 60%;
    transition: .2s;
  }

  button.edit{
    background-image: url('../../../images/edit-pencil.svg');

    &:hover{
      background-image: url('../../../images/edit-pencil-active.svg');
      border-color: $ecru;
    }
  }

  button.view{
    background-image: url('../../../images/quick-view.svg');

    &:hover{
      background-image: url('../../../images/quick-view-active.svg');
      border-color: $skyBlue;
    }
  }

  button.buttonLoading{
    cursor: default;
  }

  div.titleLoading, button.buttonLoading{
    background: linear-gradient(-45deg, $charcoal, $ghostWhite) left;
    background-size: 400%;
    animation: fade 3s ease infinite;
  }
}

@keyframes fade {
  0%{
    background-position: 99%;
  }
  50%{
    background-position: 30%;
  }
  100%{
    background-position: 99%;
  }
}