section.list{
  position: relative;

  width: 60%;
  height: 50%;

  max-height: 50%;
  overflow: hidden;

  display: inline-flex;
  flex-direction: column;
  gap: 2vh;

  padding-block: 3%;
  padding-inline: 3%;

  button.button{
    position: absolute;

    width: 4%;
    aspect-ratio: 1 / 1;

    right: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 5px;
    background: $charcoal;
    border: 3px $ghostWhite solid;

    cursor: pointer;
    transition: .2s;

    &:hover{
      border-color: $emerald;

      &:after, &:before{
        background-color: $emerald;
      }
    }

    &:after{
      content: '';
      position: absolute;

      width: 50%;
      height: 3px;

      background-color: $ghostWhite;
      transition: .2s;
    }

    &:before{
      content: '';
      position: absolute;

      width: 50%;
      height: 3px;

      rotate: 90deg;
      background-color: $ghostWhite;
      transition: .2s;
    }
  }
}
