@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
@import 'normalize.css/normalize.css';

$gunmetal: #292e3d;
$charcoal: #373F51;
$ghostWhite: #F2F4FF;

$skyBlue: #81bECC;
$zomp: #5F987D;
$ecru: #D2BA71;
$oldRose: #D27476;


body{
  height: 100vh;
  overflow: hidden;
  background-color: $gunmetal;

  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: $ghostWhite;

  ::-webkit-scrollbar{
    width: 3vh;
    background: transparent;

    @media screen and (max-width: 800px){
      width: 3vh;
    }
  }

  ::-webkit-scrollbar-thumb{
    background: $ghostWhite;
    border: 1vh $gunmetal solid;
    border-radius: 1vw;

    @media screen and (max-width: 800px){
      border-width: 7px;
      border-radius: 2vw;
    }
  }
}


:global(div#root){
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}


@mixin cross($width, $thick){
  display: flex;
  justify-content: center;
  align-items: center;

  &:after{
    content: '';
    position: absolute;

    width: $width;
    height: $thick;

    rotate: -45deg;
    background-color: $ghostWhite;
    transition: .2s;
  }

  &:before{
    content: '';
    position: absolute;

    width: $width;
    height: $thick;

    rotate: 45deg;
    background-color: $ghostWhite;
    transition: .2s;
  }
}