@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
@import 'normalize.css/normalize.css';

$gunmetal: #292e3d;
$charcoal: #373F51;
$ghostWhite: #F2F4FF;

$skyBlue: #81bECC;
$zomp: #5F987D;
$ecru: #D2BA71;
$oldRose: #D27476;

body{
  height: 100vh;
  overflow: hidden;
  background-color: $gunmetal;

  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: $ghostWhite;

  ::-webkit-scrollbar{
    width: 3vh;
    background: transparent;
  }

  ::-webkit-scrollbar-thumb{
    background: $ghostWhite;
    border: 1vh $gunmetal solid;
    border-radius: 1vw;
  }
}

:global(div#root){
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin inputTemplate(){
  outline: none;
  box-sizing: border-box;

  padding-block: 1vh;
  padding-inline: 2vh;

  font-size: 2.3vh;
  color: $ghostWhite;

  background: $gunmetal;
  border: 2px $ghostWhite solid;

  &::placeholder {
    color: $ghostWhite;
    opacity: .5;
  }
}

@media screen and (max-width: 800px){
  body{
    ::-webkit-scrollbar{
      width: 3vh;
    }
  }

  ::-webkit-scrollbar-thumb{
    border: none;
    border-radius: 1vw;
  }
}