button.close{
  position: absolute;
  top: 5%;
  right: 3%;

  aspect-ratio: 1 / 1;
  width: 5vh;

  cursor: pointer;
  background-color: $gunmetal;

  border-radius: 5px;
  border: 2px $ghostWhite solid;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: .2s;

  &:hover{
    border-color: $oldRose;

    &:after, &:before{
      background-color: $oldRose;
    }
  }

  &:after{
    content: '';
    position: absolute;

    width: 2.5vh;
    height: 2px;

    rotate: -45deg;
    background-color: $ghostWhite;
    transition: .2s;
  }

  &:before{
    content: '';
    position: absolute;

    width:  2.5vh;
    height: 2px;

    rotate: 45deg;
    background-color: $ghostWhite;
    transition: .2s;
  }

  @media screen and (max-width: 1000px){
    top: 2vh;
  }
}